<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Liste de mes appareils</h2>
        <ul class="list-group">
          <!--<app-list-appareils-item [appareilName]="appareilName1"></app-list-appareils-item>
          <app-list-appareils-item [appareilName]="appareilName2"></app-list-appareils-item>
          <app-list-appareils-item [appareilName]="appareilName3"></app-list-appareils-item>-->
          <app-list-appareils-item [appareilName]="appareil.name" [appareilStatus] ="appareil.status" [index]="i" *ngFor="let appareil of appareils; let i = index"></app-list-appareils-item>
        </ul>
        <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button>
        <button class="btn btn-danger" (click)="onEteindre()">Tout Eteindre</button>
        <button class="btn btn-primary" (click)="onSauvegarder()">Tout Sauvegarder</button>
        <button class="btn btn-primary" (click)="onRecuperer()">Tout Recuperer</button>
    </div>
  </div>
</div>